## IBM Employee Churn Dataset

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="employee_churn"
)

cursor = db.cursor()

dataset = pd.read_csv("./datasets/IBM.csv")
columns = ", ".join(dataset.columns)
holder = ("%s, " * len(dataset.columns))[:-2]

table = "ibm_employees"
query = "INSERT INTO " + table + " ("+ columns + ") VALUES ("+ holder + ")"

try:
    for row in dataset.itertuples(index=False, name=None):  
        cursor.execute(query, row)

    db.commit()
    print("Data inserted successfully")

except Error as e:
    print("Error inserting rows : ", e)

def printTableLength(cursor):
    query = "SELECT COUNT(*) FROM ibm_employees"
    cursor.execute(query)
    row_count = cursor.fetchone()[0]
    print("Number of rows : ", row_count)

printTableLength(cursor)

cursor.close()
db.close()

Data inserted successfully
Number of rows :  1470

## HR Employees Dataset

In [ ]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="employee_churn"
)

cursor = db.cursor()

dataset = pd.read_csv("./datasets/HR_Dataset.csv")
columns = ", ".join(dataset.columns)
columns = columns.replace("left", "left_status")

holder = ("%s, " * len(dataset.columns))[:-2]

table = "hr_employees"
query = "INSERT INTO " + table + " ("+ columns + ") VALUES ("+ holder + ")"

try:
    for row in dataset.itertuples(index=False, name=None):  
        cursor.execute(query, row)

    db.commit()
    print("Data inserted successfully")

except Error as e:
    print("Error inserting rows : ", e)

def printTableLength(cursor):
    query = "SELECT COUNT(*) FROM hr_employees"
    cursor.execute(query)
    row_count = cursor.fetchone()[0]
    print("Number of rows : ", row_count)

printTableLength(cursor)

cursor.close()
db.close()

Data inserted successfully
Number of rows :  14999

## MFG 10 Years Termination Dataset

In [ ]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="employee_churn"
)

cursor = db.cursor()

dataset = pd.read_csv("./datasets/MFG10YearTerminationData.csv")
columns = ", ".join(dataset.columns)

holder = ("%s, " * len(dataset.columns))[:-2]

table = "mfg_employees"
query = "INSERT INTO " + table + " ("+ columns + ") VALUES ("+ holder + ")"

try:
    for row in dataset.itertuples(index=False, name=None):  
        cursor.execute(query, row)

    db.commit()
    print("Data inserted successfully")

except Error as e:
    print("Error inserting rows : ", e)

def printTableLength(cursor):
    query = "SELECT COUNT(*) FROM mfg_employees"
    cursor.execute(query)
    row_count = cursor.fetchone()[0]
    print("Number of rows : ", row_count)

printTableLength(cursor)

cursor.close()
db.close()

Data inserted successfully
Number of rows :  49653

## Turnover Dataset

In [ ]:
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="employee_churn"
)

cursor = db.cursor()

dataset = pd.read_csv("./datasets/turnover.csv", encoding="unicode_escape")
columns = ", ".join(dataset.columns)

holder = ("%s, " * len(dataset.columns))[:-2]

table = "turnover_employees"
query = "INSERT INTO " + table + " ("+ columns + ") VALUES ("+ holder + ")"

try:
    for row in dataset.itertuples(index=False, name=None):  
        cursor.execute(query, row)

    db.commit()
    print("Data inserted successfully")

except Error as e:
    print("Error inserting rows : ", e)

def printTableLength(cursor):
    query = "SELECT COUNT(*) FROM turnover_employees"
    cursor.execute(query)
    row_count = cursor.fetchone()[0]
    print("Number of rows : ", row_count)

printTableLength(cursor)

cursor.close()
db.close()

Data inserted successfully
Number of rows :  1129